.pricing {
  font-size: 0.9rem;
  margin: 10px;
  .pricing-price {
    font-size: 3rem;
    color: $gray-800;
    margin-bottom: 1rem;
    sup {
      font-size: 1.5rem;
    }
    .pricing-price-period {
      font-size: 1.25rem;
    }
  }
  .pricing-list {
    margin-bottom: 0;
    margin-left: 1.6em;
    .pricing-list-item {
      margin-bottom: 0.5rem;
    }
  }
}

@include media-breakpoint-up(lg) {
  .pricing-left {
    border-radius: 5;
  }
  .pricing-right {
    height: 400px;
    border-radius: 5;
  }
}
