mixin floating-footer(options)

    footer.floating-footer(class=options.pageHeaderStyle + ' ' + options.pageHeaderBg, style=options.pageHeaderBgImg)

        if block
            block
        else
            .floating-footer-container
                    .floating-footer-button
                        .row.justify-content-center
                            a(href="#layoutDefault_footer").btn-outline-light.btn.btn-sm.rounded-pill.px-4.ml-1
                                | Receive an Info Pack
                                br
                                strong Free of Charge
                            
                            

