mixin footer(options)

    footer.footer.pt-10.pb-5.mt-auto(class=options.footerBg, class=options.footerStyle)

        if block
            block
        else
            .container.form-footer
                .heading-row
                    .form-heading
                        h2 Please fill in the form below to receive your free info pack
                .row
                    form
                .form-row
                    .form-group.col-md-6
                        label.text-dark(for='inputName') Full name
                        input#inputName.form-control.py-4(type='text', placeholder='Full name')
                    .form-group.col-md-6
                        label.text-dark(for='inputEmail') Address
                        input#inputEmail.form-control.py-4(type='text', placeholder='Address')
                    .form-group.col-md-6
                        label.text-dark(for='inputEmail') Postcode
                        input#inputEmail.form-control.py-4(type='text', placeholder='Postcode')
                    .form-group.col-md-6
                        label.text-dark(for='inputEmail') Contact Number
                        input#inputEmail.form-control.py-4(type='email', placeholder='E-Mail')
                .text-center
                    button.btn.rounded-pill.btn-marketing.mt-4(type='submit') Submit Request
            
                hr.my-5

            .container
                .row
                    .col-lg-3
                        .footer-brand
                            | Queue Pay
                        .mb-3 The Waiter That's Always Waiting
                        .icon-list-social.mb-5
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-instagram
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-facebook
                            a.icon-list-social-link(href='javascript:void(0);')
                                i.fab.fa-twitter

                    .col-lg-9
                        .row
                            .col-lg-3.col-md-6.mb-5.mb-md-0.text-md-right.offset-md-6
                                .text-uppercase-expanded.text-xs.mb-4 Browse
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href='javascript:void(0);') Home
                                    li.mb-2
                                        a(href='javascript:void(0);') Our Clients
                                    li.mb-2
                                        a(href='javascript:void(0);') Pricing
                                    li.mb-2
                                        a(href='javascript:void(0);') Login
                                    li.mb-2
                                        a(href='javascript:void(0);') Register
                                    li.mb-2
                            .col-lg-3.col-md-6.mb-5.mb-md-0.text-md-right
                                .text-uppercase-expanded.text-xs.mb-4 Legal
                                ul.list-unstyled.mb-0
                                    li.mb-2
                                        a(href='javascript:void(0);') Privacy Policy
                                    li.mb-2
                                        a(href='javascript:void(0);') Terms and Conditions
                                    li
                                        a(href='javascript:void(0);') Cookie Policy
                                
                hr.my-5

                .row.align-items-center

                    .col-md-6.small
                        | Copyright &copy; QR Payments 2020
                    .col-md-6.text-md-right.small
                        a(href='javascript:void(0);') Privacy Policy
                        | 
                        | &middot;
                        | 
                        a(href='javascript:void(0);') Terms &amp; Conditions
