mixin header(options)

    header.page-header.animated-background(class=options.pageHeaderStyle + ' ' + options.pageHeaderBg, style=options.pageHeaderBgImg)

        if block
            block
        else
            p.text-center.py-5 No content provided

        //- SVG Border
        include includes/border-options.pug