extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Landing'

append css
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover',
        pageHeaderBgImg: 'background-image: url("../../assets/img/header-bg.gif");',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-white'
    })

        .page-header-content.mb-n5
            .container
                .row.justify-content-center.align-items-center
                    .col-lg-6(data-aos='fade-right')
                        h1.page-header-title The Waiter That's <br> Always Waiting.
                        p.page-header-text.mb-5 We've created the fastest and easiest way for customers to order from pub, bar and restaurant menus. <br> No apps no aggravation. <br> Queue Pay takes orders in as little as seconds.
                      
                    .col-lg-6.z-1(data-aos='fade-left')
                        img(src='../../assets/img/Stitch2.png').img-fluid.z-1

    //- * * * * * * * * * * * * *
    //- * * Features Section  * *
    //- * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.text-center
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='trash')
                    h3 Out With The Old
                    p.mb-0
                        | Gone are the days of clunk and lifeless mobile ordering apps. Queue Pay works through a website to provide a customised, accessible experience distinct to each venue. Build your menu just how you want it, or better yet, we can built it for you.
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='smartphone')
                    h3 Que-ching
                    p.mb-0
                        | We use the Stripe Payment Platform to let your customers pay in the easiest and most secure ways - like Apple Pay and Google Pay - as well as to make sure you receive payment with little to no hassle.
                .col-lg-4
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='smile')
                    h3 Easy for All
                    p.mb-0
                        | Whether it be the start of the end of the evening, customers find Queue Pay consistently foolproof - no matter how young, old, or deep into the rounds they may be. All it takes is a scan or a tap.

    //- * * * * * * * * * * *
    //- * * Feature Cards * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .text-center
                        .text-xs.text-uppercase-expanded.text-primary.mb-2 Queue for you
                        h2.mb-5 Queue Pay was designed to work exactly how you need it
            .row
                .col-lg-4.col-md-6.mb-5(data-aos='layout')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                                i(data-feather='layers')
                            h5 A Blank Canvas
                            p.card-text.small Queue Pay is a chameleon, so with our 'white-label' platform, you can make your menu look however you like. Alternatively, we can design it for you.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                                i(data-feather='smartphone')
                            h5 Contactless
                            p.card-text.small Hospitality has changed in ways we could never have imagined, so to help keep you current, Queue Pay is COVID Compliant straight from the jump. With a contactless experience at heart, it naturally prompts an increase in orders and a decrease in time wasted waiting.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                                i(data-feather='credit-card')
                            h5 Payments
                            p.card-text.small Mobile Ordering shouldn't feel like you're applying for a loan, so we use Stripe to facilitate fast, easy, and secure payments through trusted methods like Apple Pay, Google Pay, or simply Debit/Credit Card.
                .col-lg-4.col-md-6.mb-5.mb-lg-0(data-aos='fade-up')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-purple-soft.text-purple.mb-4
                                i(data-feather='users')
                            h5 Full Control
                            p.card-text.small You shouldn't have to call a third-party when you decide to dish up something new, so we give all our users full control of their menus. Changes can be made in minutes, and if you ever find yourself stuck, we're only a call away.
                .col-lg-4.col-md-6.mb-5.mb-md-0(data-aos='fade-up', data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-blue-soft.text-blue.mb-4
                                i(data-feather='list')
                            h5 Easy Receiving
                            p.card-text.small Just like placing an order with Queue Pay, receiving one is just as easy. Login through our website on any smart device to see your orders roll in live on as many devices as you wish.
                .col-lg-4.col-md-6(data-aos='fade-up', data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-orange-soft.text-orange.mb-4
                                i(data-feather='package')
                            h5 Bespoke Features
                            p.card-text.small When it comes to Mobile Ordering, Queue Pay fulfils much of the expectations that venue owners look for. However, if you're itching to implement a feature that we can't give you ''out of the box', our team are more than happy to help create it.


    //- * * * * * * * * * * * *
    //- * * Get App Section * *
    //- * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.align-items-center
                .col-lg-6
                    h4 It doesn't get much better than this.
                    p.lead.mb-5.mb-lg-0 Join Today to see the difference with Queue Pay
                .col-lg-6.text-lg-right
                    button(style="color: white; border: none;").btn-lg.bg-dark
                        | Join Today

    //- * * * * * * * * * * * *
    //- * * Floating Footer * *
    //- * * * * * * * * * * * *

    include mixins/floating-footer.pug
    +floating-footer({
        pageHeaderBg: 'bg-img-cover',
        pageHeaderBgImg: 'background-image: url("../../assets/img/header-bg.gif");',
        pageHeaderStyle: 'page-header-dark',
    })

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });