extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Mobile App'

append css
    link(rel='stylesheet', href='https://unpkg.com/aos@next/dist/aos.css')

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBg: 'bg-blue',
        navbarStyle: 'navbar-light',
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-blue',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-white'
    })

        .page-header-content.mb-n5
            .container
                .row.justify-content-center.align-items-center
                    .col-lg-6(data-aos='fade-right')
                        h1.page-header-title The Waiter That's Always Waiting.
                        p.page-header-text.mb-5 We've created the fastest and easiest way for customers to order from pub, bar and restaurant menus. <br> No apps no aggravation. <br> Queue Pay takes orders in as little as seconds.
                      
                    .col-lg-6.z-1(data-aos='fade-left')
                        img(src='../../assets/img/Stitch2.png').img-fluid.z-1

    //- * * * * * * * * * * * * *
    //- * * Features Section  * *
    //- * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.text-center
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='trash')
                    h3 Out With The Old
                    p.mb-0
                        | Gone are the days of clunk and lifeless mobile ordering apps. Queue Pay works through a website to provide a customised, accessible experience distinct to each venue. Build your menu just how you want it, or better yet, we can built it for you.
                .col-lg-4.mb-5.mb-lg-0
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='smartphone')
                    h3 Que-ching
                    p.mb-0
                        | We use the Stripe Payment Plaform to let your customers pay in the easiest and most secure ways - like Apple Pay and Google Pay - as well as to make sure you receive payment with little to no hassle.
                .col-lg-4
                    .icon-stack.icon-stack-xl.bg-gradient-primary-to-secondary.text-white.mb-4
                        i(data-feather='smile')
                    h3 Easy for All
                    p.mb-0
                        | Whether it be the start of the end of the evening, customers find Queue Pay consistently foolproof - no matter how young, old, or deep into the rounds they may be. All it takes is a scan or a tap.

    //- * * * * * * * * * * *
    //- * * Feature Cards * *
    //- * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .row.justify-content-center
                .col-lg-6
                    .text-center
                        .text-xs.text-uppercase-expanded.text-primary.mb-2 Application Features
                        h2.mb-5 We have a simple solution to a complex problem
            .row
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-green-soft.text-green.mb-4
                                i(data-feather='layers')
                            h5 Components
                            p.card-text.small Our product is full of customized and extendable components.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-red-soft.text-red.mb-4
                                i(data-feather='tool')
                            h5 Utilities
                            p.card-text.small Powerful utility classes makes it easy to customize your product.
                .col-lg-4.col-md-6.mb-5(data-aos='fade-up', data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-yellow-soft.text-yellow.mb-4
                                i(data-feather='layout')
                            h5 Layouts
                            p.card-text.small Our flex based layouts offer a beautifully reponsive approach.
                .col-lg-4.col-md-6.mb-5.mb-lg-0(data-aos='fade-up')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-purple-soft.text-purple.mb-4
                                i(data-feather='book')
                            h5 Documentation
                            p.card-text.small Our code is fully documented with instructions and usage examples.
                .col-lg-4.col-md-6.mb-5.mb-md-0(data-aos='fade-up', data-aos-delay='100')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-blue-soft.text-blue.mb-4
                                i(data-feather='code')
                            h5 Code Snippets
                            p.card-text.small Use code snippets to easily drop new components into your project.
                .col-lg-4.col-md-6(data-aos='fade-up', data-aos-delay='150')
                    a.card.text-center.text-decoration-none.h-100.lift(href='#!')
                        .card-body.py-5
                            .icon-stack.icon-stack-lg.bg-orange-soft.text-orange.mb-4
                                i(data-feather='package')
                            h5 Plugins
                            p.card-text.small We've implemented powerful third party plugins for added functionality.


    //- * * * * * * * * * * * *
    //- * * Get App Section * *
    //- * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-white',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: true,
        svgBorderFill: 'text-dark'
    })

        .container
            .row.align-items-center
                .col-lg-6
                    h4 Get the app now!
                    p.lead.mb-5.mb-lg-0 Ready to get started? Download the app now!
                .col-lg-6.text-lg-right
                    a.mr-3(href='javascript:void(0);')
                        img(src='assets/img/app-store-badge.svg', style="height: 3rem;")
                    a(href='javascript:void(0);')
                        img(src='assets/img/google-play-badge.svg', style="height: 3rem;")

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })

append scripts
    script(src='https://unpkg.com/aos@next/dist/aos.js')
    script.
        AOS.init({
            disable: 'mobile',
            duration: 600,
            once: true
        });