extends ../layouts/default.pug

block config

    //- Global Page Configuration
    - var pageTitle = 'Pricing'

block content

    //- * * * * * * * *
    //- * * Navbar  * *
    //- * * * * * * * *

    include mixins/navbar.pug
    +navbar({
        navbarBrandColor: 'text-primary',
        navbarBtnColor: 'btn-primary',
        navbarContainer: 'container',  
    })

    //- * * * * * * * * * *
    //- * * Page Header * *
    //- * * * * * * * * * *

    include mixins/header.pug
    +header({
        pageHeaderBg: 'bg-img-cover',
        pageHeaderBgImg: 'background-image: url("../../assets/img/header-bg.gif");',
        pageHeaderStyle: 'page-header-dark',
        svgBorderAngled: false,
        svgBorderRounded: true,
        svgBorderWaves: false,
        svgBorderFill: 'text-white'
    })

        .page-header-content
            .container.text-center
                .row.justify-content-center
                    .col-lg-8
                        h1.page-header-title.mb-0 Pricing
 
    //- * * * * * * * * * * * * * *
    //- * * Pricing Section Two * *
    //- * * * * * * * * * * * * * *

    include mixins/section.pug
    +section({
        sectionBg: 'bg-light',
        sectionPadding: 'py-10',
        svgBorderAngled: false,
        svgBorderRounded: false,
        svgBorderWaves: false,
        svgBorderFill: ''
    })

        .container
            .text-center.mb-5
                h2 We hate headaches, so we give you <br> two ways to Queue Pay with no surprises.
            .row.no-gutters.align-items-center
                .col-lg-6.mb-5.mb-lg-0
                    .card.pricing
                        .card-body.p-3
                            .badge.badge-primary-soft.badge-pill.badge-marketing.badge-sm.text-primary Standard
                            .pricing-price
                                sup £
                                | 0
                                span.pricing-price-period  Sign up
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark All Queue Pay features including customisation, discount codes, age verification and more
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Unlimited Orders and Changes
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Build your own menu
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark Customer Support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-dark 3.9% + 20p fee per order
                        .card-footer.px-5
                            a(href='#!').d-flex.align-items-center.justify-content-between
                                | Get Started!
                                i.fas.fa-arrow-right
                .col-lg-6.mb-5.mb-lg-0
                    .card.pricing.pricing-right.bg-gray-800
                        .card-body.p-3
                            .badge.badge-primary-soft.badge-pill.badge-marketing.badge-sm Standard
                            .pricing-price.text-light
                                sup £
                                | 250
                                span.pricing-price-period  Sign up
                            ul.fa-ul.pricing-list
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-light All Queue Pay features including customisation, discount codes, age verification and more
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-light Unlimited Orders and Changes
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-light Build your own menu
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-light Customer Support
                                li.pricing-list-item
                                    span.fa-li
                                        i.far.fa-check-circle.text-teal
                                    span.text-light 3.9% + 20p fee per order
                        .card-footer.px-5
                            a(href='#!').d-flex.align-items-center.justify-content-between.text-light
                                | Get Started!
                                i.fas.fa-arrow-right
    hr.my-0

    

block footer

    include mixins/footer.pug
    +footer({
        footerBg: 'bg-dark',
        footerStyle: 'footer-dark'
    })